header {
    transition: all .2s ease-out;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    animation: slideInFromTop .3s 1 .5s forwards;
    height: 101px;
    z-index: 11;
    border-bottom: 1px solid #ecf4f6;
    img {
        width: 1170px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
    &.not-fixed {
        bottom: 60px;
        top: auto;
        position: absolute;
    }
}