header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 100%;
    transform: translateY(0);
    animation: slideInFromTop .3s 1 .5s forwards;
    max-height: 100px;

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}