.p-slider-loading {
    overflow: hidden;
}

.p-slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.p-slider__slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    & + & {
        .no-js &,
        .p-slider-loading & {
            display: none;
        }
    }
}

.p-slider__content {
    width: 100%;
    height: 100%;
    position: relative;
}

.p-slider__skip-slides {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: block;
    text-align: center;
    padding: 20px;
    .no-js &,
    .p-slider-loading & {
        display: none;
    }
}

.p-slider-nav {
    position: absolute;
    right: 20px;
    top: 38%;
    margin: 0;
    padding: 0;
    .no-js &,
    .p-slider-loading & {
        display: none;
    }
}

.p-slider-nav__item {
    list-style: none;
}

.p-slider-nav__button {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    display: block;
    font-size: 0;
    line-height: 0;
    &:before {
        font-size: 23px;
        line-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "\2022";
        text-align: center;
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }
}

.p-slider__video > video {
    transition: opacity .5s ease-in;
    opacity: 0;
    &.has-loaded {
        opacity: 1;
    }
}

// .ytplayer-container {
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     z-index: -1;
//     .loaded & {
//         opacity: 1;
//     }
// }