html,
body {
    padding: 0;
    margin: 0;

    height: 100%;
}

body {
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.page-content {
    background: url(/src/img/bg-placeholder-content.jpg) repeat-x top center;
}

.page-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto 0;
}