// #COLOR

$color-brand-blue-grey: #4e555d;
$base-text-color: #fff;
$light-grey: #717E8F;
$light-border-color: #EBF4F3;
$color-light-blue: #edf4f6;
$color-light-blue-background: $color-light-blue;
$color-dark-text: #2e2e2e;
$color-light-blue-2: #f8fbfb;
$color-light-blue-3: #f1f6f8;
$color-light-blue-4: #f6f9fa;
$color-light-blue-5: #fafcfd;
$color-dark-blue: #657185;