// #TYPE

@font-face {
    font-family: "VWHeadBold";
    src: url("/src/type/VWHeadWeb-Bold.eot");
    src: url("/src/type/VWHeadWeb-Bold.eot?#iefix") format("embedded-opentype"),
        url("/src/type/VWHeadWeb-Bold.woff") format("woff"),
        url("/src/type/VWHeadWeb-Bold.ttf") format("truetype"),
        url("/src/type/VWHeadWeb-Bold.svg#194f5394ae2e9c74dc3c441b92862d1d") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VWTextRegular";
    src: url("/src/type/VWTextWeb-Regular.eot");
    src: url("/src/type/VWTextWeb-Regular.eot?#iefix") format("embedded-opentype"),
        url("/src/type/VWTextWeb-Regular.woff") format("woff"),
        url("/src/type/VWTextWeb-Regular.ttf") format("truetype"),
        url("/src/type/VWTextWeb-Regular.svg#194f5394ae2e9c74dc3c441b92862d1d") format("svg");
    font-weight: normal;
    font-style: normal;
}

$font-vwhead--bold: 'VWHeadBold', Arial, sans-serif;
$font-vwtext--regular: 'VWTextRegular', Arial, sans-serif;